<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CSMasterClassZooManager.Properties.Settings.CSMasterClassDBConnectionString" connectionString="Data Source=DESKTOP-3OQG4CG\MYSQLSERVER;Initial Catalog=CSMasterClassDB;Persist Security Info=True;User ID=sa;Password=Fem5lingar" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
